.textarea {
  border: 1px solid #fefefe;
  background: #eee;
  border-radius: 0.25rem;
  padding: 0.7rem;
}

.textarea[type="search"] {
  border-radius: 1.25rem;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}
