.error {
  background-color: red;
  color: white;
  padding: 1rem;
  width: 25vw;
}

.form-group {
  display: flex;
  gap: 1vw;
}

.form-group label {
  width: 10vw;
}

.form-group input {
  height: 5vh;
}
